.datetimepicker {
	max-width: 640px;

	&-date {
		width: 70%;
		display: inline-block;
		.react-date-picker {
			width: 350px;
		}

		&-calendar {
			z-index: 1050;
			bottom: 100% !important;
			top: auto !important;
		}
	}
	&-time {
		width: 30%;
	}
}